<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Erro 404</ion-title>
        <ion-img src="assets/logo RM.png" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h2 class="ion-no-margin">Oooops!</h2>
    <p>𝘖 𝘤𝘰𝘯𝘵𝘦𝘶́𝘥𝘰 𝘲𝘶𝘦 𝘷𝘰𝘤𝘦̂ 𝘦𝘴𝘵𝘢́ 𝘵𝘦𝘯𝘵𝘢𝘯𝘥𝘰 𝘢𝘤𝘦𝘴𝘴𝘢𝘳 𝘯𝘢̃𝘰 𝘧𝘰𝘪 𝘦𝘯𝘤𝘰𝘯𝘵𝘳𝘢𝘥𝘰...</p>
    <ion-button expand="block" routerLink="/register">
        <ion-icon name="newspaper" slot="start"></ion-icon>
        𝘗𝘢́𝘨𝘪𝘯𝘢 𝘪𝘯𝘪𝘤𝘪𝘢𝘭
    </ion-button>

</ion-content>