<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
        <ion-img src="assets/logo.png" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-img src="assets/logo.png" class="menu-logo"></ion-img>


<ion-card>
    <ion-item href="https://www.instagram.com/lava_jato_rm/" class="ion-activated">
        <ion-icon name="logo-instagram" slot="start"></ion-icon>
        <ion-label>Nosso Instagram</ion-label>
    </ion-item>

    <ion-item href="https://goo.gl/maps/oqA46sLvvmfDuJzP6">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>Nossa localização</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Rafael Meireles</ion-label>
    </ion-item>


    <ion-item class="ion-activated">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>(21) 94002-8922</ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Das 10:00 ás 18:00</ion-label>
    </ion-item>
</ion-card>