<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Principais Serviços</ion-title>
        <ion-img src="assets/logo RM.png" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

    <h6>Esses são os nossos principais serviços em nosso estabelecimento..</h6>

    <dl>
        <dt>
            <u>&#8611;Lavagem :</u>
        </dt>
        <dd>&#8627; Limpeza ecológica</dd>
        <dd>&#8627; Higeinização de Interior</dd>
        <dd>&#8627; Higeinização de ar-condicionado</dd>
        <dd>&#8627; Higeinização de Banco de Couro</dd>
        <dt>
            <u>&#8611;Enceramento :</u>
        </dt>
        <dd>&#8627;Enceramento de Pintura:
            <p>Ajuda a resgatar o brilho da pintura, facilita a remoção de sujeiras durante o processo de lavagem e protege a lataria contra sujeiras do cotidiano por criar uma camada protetora.Ajuda a resgatar o brilho da pintura, facilita a remoção de
                sujeiras durante o processo de lavagem e protege a lataria contra sujeiras do cotidiano por criar uma camada protetora.</p>
        </dd>
        <dt>
            <u>&#8611;Revitalização :</u>
        </dt>
        <dd>&#8627; Revitalização de Faróis:
            <p>Serviço de polimento detalhado das lentes dos faróis e lanternas deixando-os com aspecto de novo e com maior eficiência da iluminação.</p>
        </dd>
        <dt>
            <u>&#8611;Cristalização :</u>
        </dt>
        <dd>&#8627; Cristalização de Vidros:
            <p>Centro consiste em uma prática ligada ao segmento automotivo que, de acordo com a sua própria denominação, se destina a tornar os vidros das portas veiculares mais brilhosos em termos visuais propriamente ditos</p>
        </dd>

    </dl>
</ion-content>