<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-img src="assets/puma.png" slot="end" class="pages-logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <h2>Sobre os Black Panters</h2>
  <p>O Partido dos Panteras Negras instituiu uma variedade de programas sociais comunitários, mais amplamente os Programas de Café da manhã grátis para crianças e clínicas de saúde da comunidade para abordar questões como a injustiça alimentar. O partido matriculou o maior número de membros e teve o maior impacto em Oakland-San Francisco</p>

</ion-content>
