<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Principais Serviços</ion-title>
        <ion-img src="assets/logo RM.png" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-card href="contacts" class="ion-activated">
    <ion-card-header>
        <ion-card-title>Enceramento de Pintura</ion-card-title>
        <ion-card-subtitle>Ajuda a resgatar o brilho da pintura, facilita a remoção de sujeira durante o processo de lavagem e protege a lataria contra sujeiras do cotidiano.</ion-card-subtitle>
    </ion-card-header>
</ion-card>

<ion-card href="contacts" class="ion-activated">
    <ion-card-header>
        <ion-card-title>Revitalização de Faróis</ion-card-title>
        <ion-card-subtitle>Polimento detalhado das lentes dos faróis e lanternas deixando-os com aspecto de novo e com maior eficiência da iluminação.</ion-card-subtitle>
    </ion-card-header>
</ion-card>


<ion-card href="contacts" class="ion-activated">
    <ion-card-header>
        <ion-card-title>Cristalização de Vidros</ion-card-title>
        <ion-card-subtitle>Visa tornar os vidros das portas veiculares mais brilhosos em termos visuais</ion-card-subtitle>
    </ion-card-header>
</ion-card>


<ion-card href="contacts" class="ion-activated">
    <ion-card-header>
        <ion-card-title> Lavagem a Seco</ion-card-title>
        <ion-card-subtitle>Feita com toalhas específica e um produto próprio para esse tipo de limpeza, de modo que o atrito com a lataria diminua e não arranhe o veículo.</ion-card-subtitle>
    </ion-card-header>
</ion-card>

<ion-card href="contacts" class="ion-activated">
    <ion-card-header>
        <ion-card-title> Lavagem Completa</ion-card-title>
        <ion-card-subtitle>Visa lavar todo o exterior do carro incluindo a parte interna com aspirador de pó.</ion-card-subtitle>
    </ion-card-header>
</ion-card>