<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">

                    <ion-img src="assets/logo rm lavajato.png" class="menu-logo"></ion-img>

                    <ion-list-header class="ion-text-center">
                        <u>𝑳𝑨𝑽𝑨 𝑱𝑨𝑻𝑶 𝑹𝑴</u>
                    </ion-list-header>
                    <ion-note>𝘈 𝘮𝘦𝘭𝘩𝘰𝘳 𝘭𝘢𝘷𝘢𝘨𝘦𝘮 𝘥𝘢 𝘻𝘰𝘯𝘢 𝘰𝘦𝘴𝘵𝘦 𝘤𝘰𝘮 𝘶𝘮 𝘤𝘶𝘴𝘵𝘰 𝘣𝘦𝘯𝘦𝘧𝘪́𝘤𝘪𝘰 𝘲𝘶𝘦 𝘤𝘢𝘣𝘦 𝘯𝘰 𝘴𝘦𝘶 𝘣𝘰𝘭𝘴𝘰!!!</ion-note>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerDirection="root" routerLink="/register" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon slot="start" name="person-add"></ion-icon>
                            <ion-label>Cadastre-se</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerDirection="root" routerLink="/contacts" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon slot="start" name="chatbubbles"></ion-icon>
                            <ion-label>Solicitar Serviço</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerDirection="root" routerLink="/about" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon slot="start" name="information-circle"></ion-icon>
                            <ion-label>Nossos Serviços</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                </ion-list>

                <ion-list>

                    <!-- Se tem usuário logado -->

                    <div *ngIf="auth.user | async as user; else showLogin">

                        <ion-menu-toggle auto-hide="false">

                            <ion-item routerDirection="root" routerLink="/user/profile" lines="none" detail="false" routerLinkActive="selected">
                                <ion-avatar slot="start">
                                    <ion-img src="{{ user.photoURL }}" alt="Ver perfil de {{ user.displayName }}"></ion-img>
                                </ion-avatar>
                                <ion-label>
                                    {{ user.displayName }}
                                    <div><small>{{ user.email }}</small></div>
                                </ion-label>
                            </ion-item>

                        </ion-menu-toggle>

                    </div>

                    <!-- Mostra login se usuário não está logado -->
                    <ng-template #showLogin>

                        <ion-menu-toggle auto-hide="false">

                            <ion-item routerDirection="root" routerLink="/user/login" lines="none" detail="false" routerLinkActive="selected">
                                <ion-avatar slot="start">
                                    <ion-img src="assets/user.png" alt="Faça login"></ion-img>
                                </ion-avatar>
                                <ion-label>Entrar / Login</ion-label>
                            </ion-item>

                        </ion-menu-toggle>

                    </ng-template>

                </ion-list>

            </ion-content>

            <div class="ion-text-center ion-padding">
                <small>&copy; 𝘊𝘰𝘱𝘺𝘳𝘪𝘨𝘩𝘵 𝟤𝟢𝟤𝟣 𝘝𝘪𝘯𝘪𝘤𝘪𝘶𝘴, 𝘎𝘢𝘣𝘳𝘪𝘦𝘭 𝘊𝘢𝘳𝘭𝘰𝘴, 𝘎𝘢𝘣𝘳𝘪𝘦𝘭 𝘍𝘦𝘳𝘳𝘦𝘪𝘳𝘢</small>
            </div>

        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>